a
{
  color: #11999E;
  font-family: 'ZCOOL XiaoWei', serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
}

a:hover
{
  color: #deeeea;
}

.alien
{
  background-color: black;
  width: 76rem;
  height: 38rem;
  position: relative;
}

.alien_life_title
{
  position: relative;
  top: 25px;
  color: #deeeea;
}

.alien_life_title_2
{
  position: relative;
  top: 35px;
  color: #deeeea;
}

.alien_life_info
{
  position: relative;
  top: 40px;
  color: #deeeea;
  font-size: 1.2rem;
}

body
{
  font-family: "Montserrat";
  overflow-x: hidden;
  overflow-y: scroll;
}

b
{
  font-weight: 500;
}

.bottom-container {
  background-image: url(main_background_image.png);
  position: relative;
  padding: 20px 20px 20px;
  margin-right: none;
  margin-left: none;
  width: 76rem;
}

.btn
{
  position: relative;
  align-items: center;
  top: 2px;
  left: 665px;
  background: #13244a;
  background-image: -webkit-linear-gradient(top, #13244a, #074870);
  background-image: -moz-linear-gradient(top, #13244a, #074870);
  background-image: -ms-linear-gradient(top, #13244a, #074870);
  background-image: -o-linear-gradient(top, #13244a, #074870);
  background-image: linear-gradient(to bottom, #13244a, #074870);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover
{
  color: #ffffff;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #4d494d);
  background-image: -moz-linear-gradient(top, #000000, #4d494d);
  background-image: -ms-linear-gradient(top, #000000, #4d494d);
  background-image: -o-linear-gradient(top, #000000, #4d494d);
  background-image: linear-gradient(to bottom, #000000, #4d494d);
  text-decoration: none;
}

#testimonial-carousel
{
  width: 76rem;
}

.climate
{
  background-image: url(main_background_image.png);
  width: 76rem;
  height: 37.5rem;
  position: relative;
}

.climate_title
{
  color: #deeeea;
  font-size: 2.5rem;
  padding-top: 100px;
}

.climate_info
{
  color: #deeeea;
  font-size: 1.5rem;
  padding-top: 5px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  position: relative;
  top: 20px;
  left: 645px;
  left: 655px;
}

.contact_me
@@ -199,7 +199,7 @@
.footer-link
{
  position: relative;
  left: 465px;
  left: 490px;
  font-size: 1.3rem;
}

@@ -448,7 +448,7 @@
	width: 20px;
	margin-left: -15px;
	position: absolute;
	left: 180px;
	left: 210px;
	top: 270px;
}
.sunny:before {
@@ -492,7 +492,7 @@
	width: 50px;
	margin-left: -60px;
	position: absolute;
	left: 310px;
	left: 340px;
	top: 320px;
}
.cloudy:after {
@@ -531,7 +531,7 @@
	width: 50px;
	margin-left: -60px;
	position: absolute;
	left: 498px;
	left: 528px;
	top: 330px;
}
.rainy:after {
@@ -672,7 +672,7 @@
	width: 70px;
	margin-left: -40px;
	position: absolute;
	left: 700px;
	left: 730px;
	top: 340px;
  	transform: rotate(40deg);
}
@@ -722,7 +722,7 @@
  	margin-left: -10px;
	opacity: 1;
	position: absolute;
  	left: 860px;
  	left: 890px;
  	top: 400px;
}
.starry:after {
@@ -776,7 +776,7 @@
	width: 50px;
	margin-left: -70px;
	position: absolute;
	left: 1025px;
	left: 1055px;
	top: 320px;
}
.stormy:after {
@@ -837,7 +837,7 @@
	width: 50px;
	margin-left: -60px;
	position: absolute;
	left: 1184px;
	left: 1214px;
	top: 320px;
}
.snowy:after {
	animation: snowy_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	position: absolute;
	left: 8px;
	bottom: -60px;
	transform: scale(1);
}
.snowy:before {
	animation: snowy_snow 2s infinite linear;
	content: '';
	border-radius: 50%;
	display: block;
	height: 7px;
	width: 7px;
	opacity: 0.8;
	transform: scale(.9);
}
@keyframes snowy {
	50% { transform: translateY(-20px); }
}
@keyframes snowy_shadow {
	50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
}
@keyframes snowy_snow {
	0% {
		box-shadow:
			rgba(238,238,238,0) 30px 30px,
			rgba(238,238,238,0) 40px 40px,
			#EEEEEE 50px 75px,
			#EEEEEE 55px 50px,
			#EEEEEE 70px 100px,
			#EEEEEE 80px 95px,
			#EEEEEE 110px 45px,
			#EEEEEE 90px 35px;
	}
	25% {
	  	box-shadow:
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 120px,
			rgba(238,238,238,0) 80px 120px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px;
	}
	26% {
		box-shadow:
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 40px,
			rgba(238,238,238,0) 80px 20px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px;
	}
	50% {
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 100px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	51% {
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 45px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	75% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 95px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 120px,
			rgba(238,238,238,0) 90px 110px;
	}
	76% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 35px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 25px,
			rgba(238,238,238,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(238,238,238,0) 30px 120px,
			rgba(238,238,238,0) 40px 120px,
			#EEEEEE 50px 75px,
			#EEEEEE 55px 50px,
			#EEEEEE 70px 100px,
			#EEEEEE 80px 95px,
			#EEEEEE 110px 45px,
			#EEEEEE 90px 35px;
	}
}

